.vscode/

# Common caches/artifacts
**/__pycache__/
*.py[cod]
*.pyo
*.pyd
.mypy_cache/
*.ini
*.log
*.csv
*.o
*.a
*.out

# DAQ firmware artifacts and caches
daq/Firmware/data_control/*
!daq/Firmware/data_control/iq_track_lock
daq/Firmware/_test_vectors/*.iq
daq/Firmware/testing/test_logs/*.html

# GUI logs and temp files
gui/share/settings.json*
gui/share/status.json*
